* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* border: red 1px solid; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.cell > img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.backdrop {
  border: none;
  /* background: #34495e; */
}

.backdrop > img {
  width: 100%;
  height: 100%;
}

.movie_header { 
  background: #34495e;
  color: #FFF;
  margin-top: -6px;
  padding: 9px;
}

.movie_title {
  font-size: 1.5rem;
  padding: 10px 15px 5px 15px;
}

.movie_tagline {
  font-size: 0.9rem;
  padding: 2px 15px;
}

.movie_overview {
  line-height: 1.4rem;
  padding: 20px 15px;
}

.movie_stats {
  background: #636e72;
  color: #FFF;
  padding:23px;
}

.movie_stats > li {
  list-style: none;
  padding: 4px 0;
}

.movie_stats > li:nth-child(2) {
  padding-bottom: 0px;
}

.chip {
  margin-left: 7px;
  margin-bottom: 3px;
}

.cast {
  padding: 15px;
}

.crew {
  padding: 15px;
}

.ratings {
  background: #636e72;
  color: #FFF;
  display: flex;
  justify-content: center;
}

.critic {
  margin: 1.5rem;
}

.critic img {
  width: 6rem;
}

.critic p {
  text-align: center;
  margin: 5px 5px 0 5px;
}

.youtube {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 52.56%;
}

.video {
  margin: 0.5rem 0.50rem;
}